---
layout: home
---

		<!-- start header -->
        {% include header.html %}
        <!-- end header -->
        
        <!-- start slider -->
        {% include hero.html %}
        <!-- end slider -->

        <!-- start feature box section -->
        {% include services.html %}
        <!-- start feature box section -->

        <!-- start explore work section -->
        {% include about.html %}
        <!-- end explore work section -->

        <!-- start call to action section -->
        {% include call-to-action.html %}
        <!-- end call to action section -->