---
layout: home
---

		<!-- start header -->
        {% include header.html %}
        <!-- end header -->
        
        <!-- start slider -->
        {% include hero.html %}
        <!-- end slider -->

        <!-- start about agency -->
        {% include about-agency.html %}
        <!-- end about agency section -->

        <!-- start feature box section -->
        {% include feature-box.html %}
        <!-- start feature box section -->

        <!-- start explore work section -->
        {% include explore-work.html %}
        <!-- end explore work section -->

        <!-- start call to action section -->
        {% include call-to-action.html %}
        <!-- end call to action section -->