<section class="p-0 wow fadeIn bg-extra-dark-gray" id="services">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-6 position-relative md-height-550px sm-height-350px cover-background wow slideInLeft" data-wow-duration="900ms" style="background-image: url('assets/images/qaid-points-of-light.jpg');"></div>
            <div class="col-12 col-lg-6 padding-seven-tb padding-eight-lr md-padding-nine-tb md-padding-twelve-lr sm-padding-30px-tb sm-padding-50px-lr text-center text-lg-left wow slideInRight last-paragraph-no-margin" data-wow-duration="900ms">
                
                <h4 class="alt-font text-light-gray">Finding powerful intersections.</h4>
                <p class="width-80 lg-width-100">Founder <a href="https://qaidjacobs.com" class="standout-link">Qa'id Jacobs</a> brings more than 20 years of professional <strong>design and strategy</strong> experience in the industries of Marketing, Music, Travel, and HR tech to the table. It's a mixture that has yielded creative solutions to many kinds of challenges.</p>

                <p class=class="width-80 lg-width-100">Finding the intersections between your business needs and Contellation Design's business experiences is the main recipe.</p>
            </div>
        </div>
    </div>
</section>