<section class="wow fadeIn bg-light-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-md-11 text-center wow fadeInUp margin-eight-bottom">
                <h6 class="font-weight-300 text-extra-dark-gray mb-0">Constellation Design is a small creative consultancy driven by curiosity and a passion to <strong class="font-weight-400">connect the dots</strong>.</h6>
            </div>
        </div>
        <div class="row">                   
            <!-- start features box item -->
            <div class="col-12 col-md-4 sm-margin-30px-bottom wow fadeInUp">
                <div class="bg-white text-center h-100">
                    <a href="services-simple.html"><img src="https://via.placeholder.com/750x500" alt=""></a>
                    <div class="padding-45px-all md-padding-15px-all">
                        <span class="text-extra-dark-gray font-weight-600 d-block alt-font margin-10px-bottom">Understand the situation</span>
                        <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                        <a href="services-simple.html" class="btn btn-small btn-rounded btn-transparent-dark-gray">Explore services <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end feature box item -->
            <!-- start features box item -->
            <div class="col-12 col-md-4 sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                <div class="bg-white text-center h-100">
                    <a href="services-simple.html"><img src="https://via.placeholder.com/750x500" alt=""></a>
                    <div class="padding-45px-all md-padding-15px-all">
                        <span class="text-extra-dark-gray font-weight-600 d-block alt-font margin-10px-bottom">Bring the experience to life</span>
                        <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                        <a href="services-simple.html" class="btn btn-small btn-rounded btn-transparent-dark-gray">Explore services <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end feature box item -->
            <!-- start features box item -->
            <div class="col-12 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-white text-center h-100">
                    <a href="services-simple.html"><img src="https://via.placeholder.com/750x500" alt=""></a>
                    <div class="padding-45px-all md-padding-15px-all">
                        <span class="text-extra-dark-gray font-weight-600 d-block alt-font margin-10px-bottom">Strategise chart the course</span>
                        <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                        <a href="services-simple.html" class="btn btn-small btn-rounded btn-transparent-dark-gray">Explore services <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end feature box item -->
        </div>
    </div>
</section>