<section class="wow fadeIn padding-60px-tb md-padding-40px-tb bg-deep-pink">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 position-relative text-center">
                <span class="text-extra-large text-white-2 alt-font d-inline-block margin-5px-top margin-30px-right sm-no-margin-right sm-no-margin-top sm-margin-15px-bottom sm-width-100">Unlimited power and customization possibilities?</span>
                <a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa" target="_blank" class="btn btn-white btn-medium align-top sm-no-margin-right btn-rounded">Purchase Theme <i class="fas fa-shopping-cart"></i></a>
            </div>                    
        </div>
    </div>
</section>