<section class="wow fadeIn bg-light-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7 text-center margin-100px-bottom sm-margin-40px-bottom">
                <h6 class="font-weight-300 text-extra-dark-gray mb-0">Recent Clients</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 margin-three-bottom text-center wow fadeInRight">
                <a href="javascript:void(0);"><img src="assets/images/logos/African-Puzzle-Logo-black.png" alt="African Puzzle"></a>
            </div>
            <div class="col-12 col-md-3 margin-three-bottom text-center wow fadeInRight" data-wow-delay="0.2s">
                <a href="javascript:void(0);"><img src="assets/images/logos/Channel-Affairs.png" alt="Channel Affairs"></a>
            </div>
            <div class="col-12 col-md-3 margin-three-bottom text-center wow fadeInRight" data-wow-delay="0.4s">
                <a href="javascript:void(0);"><img src="assets/images/logos/DesignLab-Logo-black.png" alt="Design Lab"></a>
            </div>
            <div class="col-12 col-md-3 margin-three-bottom text-center wow fadeInRight" data-wow-delay="0.6s">
                <a href="javascript:void(0);"><img src="assets/images/logos/Empower-Amsterdam-Logo-black.png" alt="Empower Amsterdam"></a>
            </div>
        </div>
    </div>
</section>