<!-- start contact form section -->
<section class="wow fadeIn big-section bg-white" id="section-down">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 md-margin-30px-bottom wow fadeInLeft">
                <div class="padding-fifteen-all bg-light-gray border-radius-6 lg-padding-seven-all sm-padding-30px-all h-100">
                    <span class="text-extra-dark-gray alt-font text-large font-weight-600 margin-25px-bottom d-block">Share a few details and tell me what you want to achieve.</span> 
                    <form id="contact-form" action="https://formspree.io/mzbjprgd" method='POST'>
                        <div>
                            <div id="success-contact-form" class="mx-0"></div>
                            <input type="text" name="name" id="name" placeholder="Name*" class="border-radius-4 bg-white medium-input">
                            <input type="text" name="email" id="email" placeholder="E-mail*" class="border-radius-4 bg-white medium-input">
                            <input type="text" name="subject" id="subject" placeholder="Subject" class="border-radius-4 bg-white medium-input">
                            <textarea name="comment" id="comment" placeholder="Your Message" rows="5" class="border-radius-4 bg-white medium-textarea"></textarea>
                            <button id="contact-us-button" type="submit" class="btn btn-small border-radius-4 btn-dark-gray">send message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-6 last-paragraph-no-margin wow fadeInRight">
                <div class="padding-ten-all bg-light-gray border-radius-6 lg-padding-seven-all sm-padding-30px-all h-100 text-center text-lg-left">
                    <img src="assets/images/photo-of-aurora.jpg" alt="" class="border-radius-6 margin-35px-bottom sm-margin-30px-bottom">
                    <span class="text-large font-weight-600 alt-font text-extra-dark-gray margin-5px-bottom d-block">A Commitment to Focus and Listen </span>
                    <p>Very few things in life are guaranteed #captainobvious, but when you reach out to me, I proimise my undivided attention and curiosity to see whether my creative and strategic skills can help you towards the success you're planning.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact form section -->