<section class="wow fadeIn p-0 cover-background color-code" data-color="1">
    <video id="bgvid" poster= "assets/images/telescope.png" playsinline autoplay muted loop>        
        <source src="assets/images/telescope.mp4" type="video/mp4">
    </video>
    <div class="container full-screen position-relative">
        <div class="slider-typography text-left">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle">
                    <div class="col-12 col-xl-7 col-md-10 mx-auto text-center">
                        <span class="after-before-separator text-extra-small alt-font text-white-2 letter-spacing-3 sm-letter-spacing-0 text-uppercase margin-20px-bottom sm-margin-5px-bottom d-inline-block">constellation design</span>
                        <h2 class="font-weight-600 text-white-2 alt-font ">Send your message in a bottle.</h2>
                        <h2 class="font-weight-600 text-white-2 alt-font margin-40px-bottom sm-margin-25px-bottom">I'm listening!</h2>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>