<section class="p-0 wow fadeIn bg-extra-dark-gray" id="services">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-6 position-relative md-height-550px sm-height-350px cover-background wow slideInLeft" data-wow-duration="900ms" style="background-image: url('https://via.placeholder.com/960x850');"></div>
            <div class="col-12 col-lg-6 padding-seven-tb padding-eight-lr md-padding-nine-tb md-padding-twelve-lr sm-padding-30px-tb sm-padding-50px-lr text-center text-lg-left wow slideInRight last-paragraph-no-margin" data-wow-duration="900ms">
                <span class="text-medium margin-20px-bottom md-margin-15px-bottom d-block alt-font sm-margin-15px-bottom">We create premium designs and technology.</span>
                <h4 class="alt-font text-light-gray">A digital studio crafting beautiful experiences.</h4>
                <p class="width-80 lg-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                <a href="home-creative-small-business.html" class="btn btn-small btn-white btn-rounded margin-35px-top md-margin-25px-top">Start Your Business</a>
            </div>
        </div>
    </div>
</section>