<section class="bg-extra-dark-gray wow fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-5 col-md-6 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center">
                <div class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-small">Why Choose Us?</div>
                <h5 class="alt-font text-white-2 font-weight-600 mb-0">We are delivering beautiful digital products for you.</h5>
            </div>
        </div>
        <div class="row">
            <!-- start features box -->
            <div class="col-12 col-lg-3 col-md-6 md-margin-30px-bottom wow fadeInUp">
                <div class="bg-white box-shadow-light text-center padding-twelve-all feature-box-8 position-relative z-index-5 lg-padding-six-all h-100 sm-padding-15px-lr">
                    <i class="icon-desktop icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top md-margin-20px-bottom sm-margin-15px-bottom"></i>
                    <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Unique Design</div>
                    <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                    <div class="feature-box-overlay bg-deep-pink"></div>
                </div>
            </div>
            <!-- end feature box -->
            <!-- start features box -->
            <div class="col-12 col-lg-3 col-md-6 md-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                <div class="bg-white box-shadow-light text-center padding-twelve-all feature-box-8 position-relative z-index-5 lg-padding-six-all h-100 sm-padding-15px-lr">
                    <i class="icon-tools icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top md-margin-20px-bottom sm-margin-15px-bottom"></i>
                    <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Different Layout</div>
                    <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                    <div class="feature-box-overlay bg-deep-pink"></div>
                </div>
            </div>
            <!-- end feature box -->
            <!-- start features box -->
            <div class="col-12 col-lg-3 col-md-6 wow fadeInUp sm-margin-30px-bottom" data-wow-delay="0.4s">
                <div class="bg-white box-shadow-light text-center padding-twelve-all feature-box-8 position-relative z-index-5 lg-padding-six-all h-100 sm-padding-15px-lr">
                    <i class="icon-target icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top md-margin-20px-bottom sm-margin-15px-bottom"></i>
                    <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Portfolio Styles</div>
                    <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                    <div class="feature-box-overlay bg-deep-pink"></div>
                </div>
            </div>
            <!-- end feature box -->
            <!-- start features box -->
            <div class="col-12 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="bg-white box-shadow-light text-center padding-twelve-all feature-box-8 position-relative z-index-5 lg-padding-six-all h-100 sm-padding-15px-lr">
                    <i class="icon-laptop icon-extra-medium text-deep-pink margin-25px-bottom margin-25px-top md-margin-20px-bottom sm-margin-15px-bottom"></i>
                    <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">WordPress Theme</div>
                    <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                    <div class="feature-box-overlay bg-deep-pink"></div>
                </div>
            </div>
            <!-- end feature box -->
        </div>
    </div>
</section>