<!-- start footer content--> 
<a id="contact"></a>
<footer class="footer-modern-dark bg-extra-dark-gray padding-five-tb sm-padding-30px-tb">
    <div class="footer-widget-area padding-40px-bottom sm-padding-30px-bottom">
        <div class="container">
            <div class="row align-items-center">
                <!-- start slogan -->
                <div class="col-lg-4 text-center text-md-left md-margin-three-bottom sm-margin-20px-bottom">
                    <h6 class="text-dark-gray width-70 lg-width-100 no-margin-bottom">London Based Creative Studio</h6>
                </div>
                <!-- end slogan -->
                <!-- start contact information -->
                <div class="col-lg-4 col-md-6 text-center text-md-left sm-margin-20px-bottom">
                    <span class="display-block">301 The Greenhouse,<br>Custard Factory, London, E2 8DY.</span>
                    <a href="mailto:sales@domain.com" title="sales@domain.com">sales@domain.com</a>   |   +44 (0) 123 456 7890
                </div>
                <!-- end contact information -->
                <!-- start social media -->
                <div class="col-lg-4 col-md-6 social-style-2 text-center text-md-left">
                    <a href="index.html"><img class="footer-logo" src="assets/images/logo-white.png" data-rjs="assets/images/logo-white@2x.png" alt="Pofo"></a>
                    <div class="social-icon-style-8">
                        <ul class="text-extra-small margin-20px-top sm-no-margin-bottom text-uppercase p-0 mb-0 list-unstyled">
                            <li class="d-inline-block margin-10px-right"><a href="http://twitter.com" target="_blank" title="Twitter">Twitter</a></li>
                            <li class="d-inline-block margin-10px-right"><a href="http://facebook.com" target="_blank" title="Facebook">Facebook</a></li>
                            <li class="d-inline-block margin-10px-right"><a href="http://instagram.com" target="_blank" title="Instagram">Instagram</a></li>
                            <li class="d-inline-block"><a href="http://dribbble.com" target="_blank" title="Dribbble">Dribbble</a></li>                                                              
                        </ul>
                    </div>
                </div>
                <!-- end social media -->
            </div>
        </div>
    </div>
    <div class="container">
        <!-- start copyright -->
        <div class="footer-bottom border-top border-color-medium-dark-gray padding-40px-top sm-padding-30px-top">
            <div class="row align-items-center">
                <div class="col-md-6 text-md-left text-center text-small">Constellation Design - Product and Design Consultants</div>
                <div class="col-md-6 text-md-right text-center text-small">&copy;{{site.time | date: "%Y" }} Constellation Design</div>
            </div>
        </div>
        <!-- end copyright -->
    </div>
</footer>
<!-- end footer content -->

<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
<!-- end scroll to top  -->

<!-- javascript libraries -->
{% for path in site.data.assets.js %}    

  {%- if path contains '://' -%}
    {%- assign src = path -%}
  {%- else -%}
    {%- assign src = path | relative_url -%}
  {%- endif -%}

  <script src="{{ src }}" type="text/javascript"></script>
{% endfor %}


<!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
<!--<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>-->