<div class="top-header-area bg-black padding-10px-tb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-uppercase alt-font d-flex align-items-center justify-content-center justify-content-md-start">
                <a href="tel:1234567890" class="text-link-white-2 line-height-normal" title="Call us 123-456-7890">Call us 123-456-7890</a>
                <div class="separator-line-verticle-extra-small bg-dark-gray display-inline-block margin-two-half-lr position-relative vertical-align-middle"></div>
                <a href="mailto:no-reply@domain.com" class="text-link-white-2 line-height-normal" title="no-reply@domain.com">no-reply@domain.com</a>
            </div>
            <div class="col-md-6 d-none d-md-flex align-items-center justify-content-end">
                <div class="icon-social-very-small display-inline-block line-height-normal">
                    <a href="https://www.facebook.com/" title="Facebook" target="_blank" class="text-link-white-2"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/" title="Twitter" target="_blank" class="text-link-white-2"><i class="fab fa-twitter"></i></a>
                    <a href="https://linkedin.com/" title="Linked In" target="_blank" class="text-link-white-2"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://plus.google.com" title="Google Plus" target="_blank" class="text-link-white-2"><i class="fab fa-google-plus-g"></i></a>                            
                </div>  
                <div class="separator-line-verticle-extra-small bg-dark-gray display-inline-block margin-two-half-lr position-relative vertical-align-middle top-1px"></div>
                <div class="btn-group dropdown-style-1">
                    <button type="button" class="btn dropdown-toggle sm-width-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        English <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" title="English"><span class="icon-country usa"></span>English</a></li>
                        <li><a href="#" title="England"><span class="icon-country england"></span>England</a></li>
                        <li><a href="#" title="France"><span class="icon-country france"></span>France</a></li>
                        <li><a href="#" title="China"><span class="icon-country china"></span>China</a></li>
                        <li><a href="#" title="Hong Kong"><span class="icon-country hong-kong"></span>Hong Kong</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>