<head>
  <!-- title -->
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
  <!-- meta data -->
  <!-- Description -->
  <meta name="description" content="{{ site.description | escape }}">
  {% for item in site.data.meta %}
    <meta {{ item }}>
  {% endfor %}
  <!-- meta data end -->

  <!-- favicons -->
  {% for item in site.data.assets.favicons %}
    <link rel="{{ item.rel }}" type="{{ item.type }}" sizes="{{ item.sizes }}" href="{{ item.href }}">
  {% endfor %}
  <!-- favicons end -->

  {% for path in site.data.assets.css %}
  
    {%- if path contains '://' -%}
      {%- assign href = path -%}
    {%- else -%}
      {%- assign href = path | relative_url -%}
    {%- endif -%}

    <link rel="stylesheet" href="{{ href }}">
  {% endfor %}
  
  
  <!-- revolution slider -->
  <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css" media="screen" />
  <!--[if IE]>
    <script src="assets/js/html5shiv.js"></script>
  <![endif]-->
</head>