<!-- start hero section -->
<section class="wow fadeIn p-0 cover-background color-code" data-color="1"  style="background-image: url('http://placehold.it/1920x1161');">
    <div class="container full-screen position-relative">
        <div class="slider-typography text-left">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle">
                    <div class="col-12 col-xl-7 col-md-10 mx-auto text-center">
                        <span class="after-before-separator text-extra-small alt-font text-white-2 letter-spacing-3 sm-letter-spacing-0 text-uppercase margin-20px-bottom sm-margin-5px-bottom d-inline-block">we work hard, we play hard</span>
                        <h2 class="font-weight-600 text-white-2 alt-font margin-40px-bottom sm-margin-25px-bottom">We combine design, thinking and technical</h2>
                        <a href="portfolio-full-width-grid-transform.html" class="btn btn-transparent-white btn-rounded btn-medium text-link-white-2">Featured Works</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<!-- end hero section -->