<nav class="navbar navbar-default bootsnav navbar-top header-light-transparent background-transparent nav-box-width navbar-expand-lg">
    <div class="container nav-header-container">
        <!-- start logo -->
        <div class="col-auto pl-lg-0">
            <a href="index.html" title="Constellation Design" class="logo"><img src="assets/images/logo.png" data-rjs="assets/images/logo@2x.png" class="logo-dark default" alt="Constellation Design"></a>
        </div>
        <!-- end logo -->
        <div class="col accordion-menu pr-0 pr-md-3">
            <button type="button" class="navbar-toggler collapsed margin-20px-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                <span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                    <!-- start menu item -->
                    <li class="dropdown">
                        <a href="/" class="inner-link" title="Home">Home</a>
                    </li>

                    <li class="dropdown">
                        <a href="/#services" class="inner-link" title="Services">Services</a>
                    </li>
                    <li class="dropdown">
                        <a href="/#about" class="inner-link" title="About">About</a>
                    </li>
                    <li class="dropdown"><a href="contact.html" class="inner-link" title="Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
