<!-- start pie chart section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- start pie chart item -->
            <div class="col-12 col-lg-3 col-md-6 text-center chart-style1 wow fadeInUp md-margin-30px-bottom sm-margin-40px-bottom">
                <div class="chart-percent"><span class="chart1" data-percent="90"><span class="percent text-extra-large text-extra-dark-gray font-weight-500"></span></span></div>
                <div class="chart-text">
                    <span class="text-uppercase text-small">Graphic Design</span>
                </div>
            </div>
            <!-- end pie chart item -->
            <!-- start pie chart item -->
            <div class="col-12 col-lg-3 col-md-6 text-center chart-style1 wow fadeInUp md-margin-30px-bottom sm-margin-40px-bottom" data-wow-delay="0.2s">
                <div class="chart-percent"><span class="chart1 black-text" data-percent="75" data-barColor="#00f190"><span class="percent text-extra-large text-extra-dark-gray font-weight-500"></span></span></div>
                <div class="chart-text">
                    <span class="text-uppercase text-small">Web Design</span>
                </div>
            </div>
            <!-- end pie chart item -->
            <!-- start pie chart item -->
            <div class="col-12 col-lg-3 col-md-6 text-center chart-style1 wow fadeInUp sm-margin-40px-bottom" data-wow-delay="0.4s">
                <div class="chart-percent"><span class="chart1 black-text" data-percent="90"><span class="percent text-extra-large text-extra-dark-gray font-weight-500"></span></span></div>
                <div class="chart-text">
                    <span class="text-uppercase text-small">Branding</span>
                </div>
            </div>
            <!-- end pie chart item -->
            <!-- start pie chart item -->
            <div class="col-12 col-lg-3 col-md-6 text-center chart-style1 wow fadeInUp" data-wow-delay="0.6s">
                <div class="chart-percent"><span class="chart1 black-text" data-percent="62"><span class="percent text-extra-large text-extra-dark-gray font-weight-500"></span></span></div>
                <div class="chart-text">
                    <span class="text-uppercase text-small">Photography</span>
                </div>
            </div>
            <!-- start pie chart item -->
        </div>
    </div>            
</section>
<!-- end pie chart section -->