<!-- start portfolio section -->
<section class="pb-0 padding-80px-top md-padding-50px-top sm-padding-30px-top wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- start filter navigation -->
                <ul class="portfolio-filter nav nav-tabs justify-content-center border-none portfolio-filter-tab-1 alt-font text-uppercase text-center text-small font-weight-600 margin-80px-bottom md-margin-40px-bottom sm-margin-20px-bottom">
                    <li class="nav active"><a href="javascript:void(0);" data-filter="*" class="sm-display-inline light-gray-text-link text-very-small">All</a></li>
                    <li class="nav"><a href="javascript:void(0);" data-filter=".web" class="sm-display-inline light-gray-text-link text-very-small">Web</a></li>
                    <li class="nav"><a href="javascript:void(0);" data-filter=".advertising" class="sm-display-inline light-gray-text-link text-very-small">Advertising</a></li>
                    <li class="nav"><a href="javascript:void(0);" data-filter=".branding" class="sm-display-inline light-gray-text-link text-very-small">Branding</a></li>
                    <li class="nav"><a href="javascript:void(0);" data-filter=".design" class="sm-display-inline light-gray-text-link text-very-small">Design</a></li>
                    <li class="nav"><a href="javascript:void(0);" data-filter=".photography" class="sm-display-inline light-gray-text-link text-very-small">Photography</a></li>
                </ul>                                                                           
                <!-- end filter navigation -->
            </div>
        </div>
    </div>
    <div class="container-fluid no-padding">
        <div class="row no-margin">
            <div class="filter-content overflow-hidden w-100">
                <ul class="portfolio-grid work-4col hover-option4">
                    <li class="grid-sizer"></li>
                    <!-- start portfolio  item -->
                    <li class="grid-item web branding design wow fadeInUp">
                        <a href="single-project-page-01.html">
                            <figure>
                                <div class="portfolio-img bg-extra-dark-gray"><img src="https://via.placeholder.com/800x650" alt=""/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-center">
                                        <div class="portfolio-hover-box vertical-align-middle">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-deep-pink mx-auto separator-line-horrizontal-medium-light3 margin-25px-bottom"></div>
                                                <span class="letter-spacing-1 font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom display-block">Herbal Beauty Salon</span>
                                                <p class="text-medium-gray letter-spacing-1 text-uppercase text-extra-small">Branding and Identity</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web branding design wow fadeInUp" data-wow-delay="0.2s">
                        <a href="single-project-page-02.html">
                            <figure>
                                <div class="portfolio-img bg-extra-dark-gray"><img src="https://via.placeholder.com/800x650" alt=""/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-center">
                                        <div class="portfolio-hover-box vertical-align-middle">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-deep-pink mx-auto separator-line-horrizontal-medium-light3 margin-25px-bottom"></div>
                                                <span class="letter-spacing-1 font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom display-block">Tailoring Interior</span>
                                                <p class="text-medium-gray letter-spacing-1 text-uppercase text-extra-small">Branding and Brochure</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item advertising branding photography wow fadeInUp" data-wow-delay="0.4s">
                        <a href="single-project-page-03.html">
                            <figure>
                                <div class="portfolio-img bg-extra-dark-gray"><img src="https://via.placeholder.com/800x650" alt=""/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-center">
                                        <div class="portfolio-hover-box vertical-align-middle">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-deep-pink mx-auto separator-line-horrizontal-medium-light3 margin-25px-bottom"></div>
                                                <span class="letter-spacing-1 font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom display-block">Pixflow Studio</span>
                                                <p class="text-medium-gray letter-spacing-1 text-uppercase text-extra-small">Branding and Identity</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web advertising design wow fadeInUp" data-wow-delay="0.6s">
                        <a href="single-project-page-04.html">
                            <figure>
                                <div class="portfolio-img bg-extra-dark-gray"><img src="https://via.placeholder.com/800x650" alt=""/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-center">
                                        <div class="portfolio-hover-box vertical-align-middle">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-deep-pink mx-auto separator-line-horrizontal-medium-light3 margin-25px-bottom"></div>
                                                <span class="letter-spacing-1 font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom display-block">Designblast Inc</span>
                                                <p class="text-medium-gray letter-spacing-1 text-uppercase text-extra-small">Web and Photography</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web branding design wow fadeInUp">
                        <a href="single-project-page-05.html">
                            <figure>
                                <div class="portfolio-img bg-extra-dark-gray"><img src="https://via.placeholder.com/800x650" alt=""/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-center">
                                        <div class="portfolio-hover-box vertical-align-middle">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-deep-pink mx-auto separator-line-horrizontal-medium-light3 margin-25px-bottom"></div>
                                                <span class="letter-spacing-1 font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom display-block">HardDot Stone</span>
                                                <p class="text-medium-gray letter-spacing-1 text-uppercase text-extra-small">Branding and Identity</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web advertising branding design photography wow fadeInUp" data-wow-delay="0.2s">
                        <a href="single-project-page-06.html">
                            <figure>
                                <div class="portfolio-img bg-extra-dark-gray"><img src="https://via.placeholder.com/800x650" alt=""/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-center">
                                        <div class="portfolio-hover-box vertical-align-middle">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-deep-pink mx-auto separator-line-horrizontal-medium-light3 margin-25px-bottom"></div>
                                                <span class="letter-spacing-1 font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom display-block">Educamp School</span>
                                                <p class="text-medium-gray letter-spacing-1 text-uppercase text-extra-small">Branding and Identity</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web advertising branding design photography wow fadeInUp" data-wow-delay="0.4s">
                        <a href="single-project-page-07.html">
                            <figure>
                                <div class="portfolio-img bg-extra-dark-gray"><img src="https://via.placeholder.com/800x650" alt=""/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-center">
                                        <div class="portfolio-hover-box vertical-align-middle">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-deep-pink mx-auto separator-line-horrizontal-medium-light3 margin-25px-bottom"></div>
                                                <span class="letter-spacing-1 font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom display-block">Branding and Identity</span>
                                                <p class="text-medium-gray letter-spacing-1 text-uppercase text-extra-small">Branding and Brochure</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item web advertising branding design photography wow fadeInUp" data-wow-delay="0.6s">
                        <a href="single-project-page-08.html">
                            <figure>
                                <div class="portfolio-img bg-extra-dark-gray"><img src="https://via.placeholder.com/800x650" alt=""/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-center">
                                        <div class="portfolio-hover-box vertical-align-middle">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-deep-pink mx-auto separator-line-horrizontal-medium-light3 margin-25px-bottom"></div>
                                                <span class="letter-spacing-1 font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom display-block">Violator Series</span>
                                                <p class="text-medium-gray letter-spacing-1 text-uppercase text-extra-small">Web and Photography</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end portfolio section -->