<section class="wow fadeIn p-0 main-slider mobile-height top-space">
    <div class="swiper-full-screen swiper-container w-100 white-move">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url('https://via.placeholder.com/1920x900');">
                <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                <div class="container position-relative one-fourth-screen sm-height-400px">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <span class="text-large text-very-light-gray font-weight-300 width-95 mx-auto margin-25px-bottom d-block sm-margin-15px-bottom">we combine design, thinking and technical craft</span>
                                <h1 class="alt-font text-uppercase text-white-2 font-weight-700 width-75 sm-width-95 mx-auto margin-35px-bottom sm-margin-15px-bottom">Crafting Digital Experiences</h1>
                                <div class="btn-dual"><a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa" target="_blank" class="btn btn-white btn-rounded btn-medium sm-margin-two-all">Purchase Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url('https://via.placeholder.com/1920x900');">
                <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                <div class="container position-relative one-fourth-screen sm-height-400px">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <span class="text-large text-very-light-gray font-weight-300 width-95 mx-auto margin-25px-bottom d-block sm-margin-15px-bottom">We're a design studio that believe in the ideas</span>
                                <h1 class="alt-font text-uppercase text-white-2 font-weight-700 width-75 sm-width-95 mx-auto margin-35px-bottom sm-margin-15px-bottom">Highly Creative Solutions</h1>
                                <div class="btn-dual"><a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa" target="_blank" class="btn btn-white btn-rounded btn-medium sm-margin-two-all">Purchase Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url('https://via.placeholder.com/1920x900');">
                <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                <div class="container position-relative one-fourth-screen sm-height-400px">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <span class="text-large text-very-light-gray font-weight-300 width-95 mx-auto margin-25px-bottom d-block sm-margin-15px-bottom">We are a design & development agency</span>
                                <h1 class="alt-font text-uppercase text-white-2 font-weight-700 width-75 sm-width-95 mx-auto margin-35px-bottom sm-margin-15px-bottom">Craft Elegant Solutions</h1>
                                <div class="btn-dual"><a href="https://themeforest.net/item/pofo-creative-agency-corporate-and-portfolio-multipurpose-template/20645944?ref=themezaa" target="_blank" class="btn btn-white btn-rounded btn-medium sm-margin-two-all">Purchase Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white swiper-full-screen-pagination"></div>
        <div class="swiper-button-next swiper-button-black-highlight d-none"></div>
        <div class="swiper-button-prev swiper-button-black-highlight d-none"></div>
    </div>
</section>